<div class="row" ng-init="get(_id)">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-area">
            <form role="form" novalidate ng-submit="update(book)">
                <ng-include src="'forms/books.html'"></ng-include>
                <div class="pull-right">
                    <a href="#/books" class="btn btn-info">Return</a>
                    <button type="submit" class="btn btn-primary">Update Book</button>
                </div>
            </form>
        </div>
    </div>
</div>
